USER_AGENT="MEKONGAI"

SERVER_ADDRESS="http://localhost:port"

OPENAI_API_BASE_URL="https://api.openai.com/v1"
OPENAI_API_KEY=

QDRANT_HOST = ""
QDRANT_PORT = ""
QDRANT_URL= ""
QDRANT_SERVER = ""
QDRANT_API_KEY = ""
QDRANT_COLLECTION = ""

GROQ_API_KEY = ""

NEO4J_URI = ""
NEO4J_USERNAME = ""
NEO4J_PASSWORD = ""
NEO4J_PLUGINS=''

MYSQL_DB_HOST = ""
MYSQL_DB_NAME = ""
MYSQL_DB_USER = ""
MYSQL_DB_PASSWORD = ""

# MongoDB Configuration
MONGODB_HOST=
MONGODB_PORT=
MONGODB_DATABASE=""
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_CONNECTION = ""

AWS_BUCKET_NAME = ""
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_DEFAULT_REGION = ""

DEEPINFRA_API_TOKEN = ""

DEEPSEEK_API_KEY = ""

GOOGLE_API_KEY = ""

VLLM_URL = ""
VLLM_TOKEN = ""

AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""

# CrewAI Configuration
SERPER_API_KEY=""
CREWAI_TELEMETRY_OPT_OUT=

AGENTOPS_API_KEY = ""

AGENTOPS_ENABLED=true
AGENTOPS_AUTO_START=true